---
const pageTitle = "About Me";
const identity = {
  firstName: "Alok",
  country: "India",
  occupation: "Learner",
  hobbies: ["photography", "Art Enthusiast", "Drawing"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const validTrue = true;
const happy = "somewhat";
const finished = false;
const goal = 3;
---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<style>
			body{
				background-color: #000000dd;
				color: #FFF;
			}
			h1{
				display: flex;
				justify-content: center;
			}
		</style>
	</head>
	<body>
		<h1>
            {pageTitle}
        </h1>
        <h2>
            Well so I came to know about this new tool named Astro.js and how it's better than some of the frameworks available in the market.
        </h2>
        <p>Here are a few facts about me:</p>
<ul>
  <li>My name is {identity.firstName}.</li>
  <li>I live in {identity.country} and I currently am just a {identity.occupation}.</li>
  {identity.hobbies.length >= 2 &&
    <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
  }
</ul>
<p>My skills are:</p>
<ul>
  {skills.map((skill) => <li>{skill}</li>)}
</ul>

{validTrue && <p>I'm {happy} happy to be learning Astro! </p>}
{finished && <p>I finished the current tutorial. </p>}
{goal === 3 ?<p>My Goal is to finish Astro in {goal} days.</p>:<p>My Goal is too flexible to be completed in {goal} days.</p>}
	</body>
</html>
